body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

/* General layout */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.divider-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider-wrapper::before,
.divider-wrapper::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ffffff;
}

.divider-wrapper span {
    margin: 0 15px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.login-box {
    background-color: #121212;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 500px;
    border: 1px solid #ffffff;
}

.google-login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.google-login-button:hover {
    background-color: #333333;
    cursor: pointer;
}

.google-login-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.login-title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-input {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    outline: none;
    transition: border 0.3s ease;
}

.login-input:focus {
    border-color: #ffffff;
}

.login-button {
    align-self: center;
    padding: 15px;
    font-size: 16px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.login-button:hover {
    background-color: #333333;
}

.toggle-button {
    font-size: 14px;
    color: #999999;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.toggle-button:hover {
    color: #ffffff;
}

.error-message {
    color: #ff0000;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .login-box {
        width: 90%;
        padding: 20px;
    }
}