:root {
    --primary-color: #64ffda;
    --secondary-color: #7f5af0;
    --background-color: #16161a;
    --surface-color: #242629;
    --text-color: #94a1b2;
    --heading-color: #fffffe;
    --accent-color: #2cb67d;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* General layout */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.divider-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider-wrapper::before,
.divider-wrapper::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--text-color);
}

.divider-wrapper span {
    margin: 0 15px;
    color: var(--text-color);
    font-size: 14px;
    text-transform: uppercase;
}

.login-box {
    background-color: var(--surface-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

.google-login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    padding: 12px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.google-login-button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.google-login-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.login-title {
    font-size: 24px;
    color: var(--heading-color);
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-input {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    outline: none;
    transition: border 0.3s ease;
}

.login-input:focus {
    border-color: var(--primary-color);
}

.login-button {
    padding: 12px;
    font-size: 16px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--background-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.login-button:hover {
    background-color: var(--accent-color);
}

.toggle-button {
    font-size: 14px;
    color: #999;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.toggle-button:hover {
    color: #fff;
}

.error-message {
    color: rgb(137, 23, 23);
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .login-box {
        width: 90%;
        padding: 20px;
    }
}